* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #000000;
  box-sizing: content-box;
  width: 100vw;
  height: calc(100 * var(--vh));
  box-sizing: border-box;
}
button {
  color: white;
  background-color: #000000;
  border: 0;
  -webkit-appearance: none;
}
.header {
  width: inherit;
  /* height: calc(12 * var(--vh)); */
  height: 60px;
}
.ar-section {
  width: inherit;
  /* height: inherit; */
  position: relative;
}
.arbtn {
  display: none;
}
.ar-model-viewer {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: calc(70 * var(--vh));
}
.ar-loading {
  width: 100px;
  height: 100px;
  text-align: center;
  pointer-events: none;
  position: absolute;
  top: calc(20 * var(--vh));
  left: calc(50vw);
  transform: translate(-50%, -50%);
}

.nhl-ar-pointer {
  pointer-events: none;
  position: absolute;
  top: calc(35 * var(--vh));
  left: calc(50vw);
  /* left: calc(1307px / 2); */
  transform: translate(-50%, -50%);
}
model-viewer[ar-status="session-started"] > .nhl-ar-pointer,
model-viewer[ar-status="not-tracking"] > .nhl-ar-pointer,
model-viewer[ar-status="object-placed"] > .nhl-ar-pointer {
  width: 0;
  height: 0;
  display: none;
}
.ar-nav {
  background-color: #000000;
  width: inherit;
  margin: 0 auto;
  max-width: 1270px;
  height: calc(10 * var(--vh));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
.ar-menu {
  flex: 4;
  background-color: #0183da;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-ar {
  width: 100%;
  height: calc(10 * var(--vh));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* manual change */
  /* transform: translateX(40px);  */
}
.name-ar span {
  display: block;
}
.logo-ar {
  /* height: calc(8 * var(--vh)); */
  height: 100%;
  width: auto;
}

.ar-debug {
  color: white;
}
.ar-popup {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.ar-popup-show {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100 * var(--vh));
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  display: block;
}
.ar-popup-hide {
  position: absolute;
  background-color: #0183da;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  right: 0px;
  top: -50px;
}
.ar-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  max-width: 500px;
  width: 70%;
  /* height: 70%; */
}
.ar-popup-image {
  width: 100%;
  height: auto;
}
.ar-popup-content-records {
  border: #000000 2px solid;
  background-color: white;
}
.ar-popup-content-records .ar-popup-image {
  width: 70%;
  padding: 0 10%;
}
.ar-popup-content-records .ar-popup-image img {
  width: 100%;
}
.records-link {
  background-color: #0183da;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 30px;
  display: block;
  width: 100%;
}
.start-ar {
  position: absolute;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  background-color: #0183da;
  border-radius: 50px;
}
.start-qr {
  position: absolute;
  right: 30px;
  bottom: 30px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  /* background-color: #0183da; */
}
.start-ar img {
  width: 70%;
  height: 70%;
}
.start-qr img {
  width: 100%;
  height: 100%;
}
.ar-hide {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.ar-gestures-show {
  width: 50px;
  height: 50px;
  /* background-color: white; */
  pointer-events: none;
  position: absolute;
  top: calc(50 * var(--vh));
  left: calc(50vw);
  transform: translate(-50%, -50%);
  z-index: 2000;
}
.ar-gesture-image {
  animation-name: panGesture;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes panGesture {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotateGesture {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes zoomGesture {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes clickGesture {
  0% {
    /* opacity: 1; */
    transform: scale(1);
  }
  50% {
    /* opacity: 0; */
    transform: scale(0.5);
  }
  100% {
    /* opacity: 1; */
    transform: scale(1);
  }
}
