<!DOCTYPE html>
<html>
    <head>

        <title>AR Test</title>
        <!-- DSS header dropins -->
        <meta name="static_url" content="//www-league.nhlstatic.com" />
        <meta name="server_url" content="https://www.nhl.com" />
        <meta name="suggest_url" content="//suggest.svc.nhl.com" />
        <meta name="bamcontent_client_url" content="https://cms.nhl.bamgrid.com" />

        <meta id="metaLogin" name="login_url" content="https://account.nhl.com/ui/?language=en" />
        <meta id="metaAccount" name="account_url" content="https://account.nhl.com/ui/?language=en&returnLabel=NHL.com/stats" />
        <meta name="sign_out_url" content="https://account.nhl.com/ui/sign-out?language=en" />
        <meta name="rogers_login_url" content="https://www.nhl.com/en/login/rogers" />
        <meta name="rogers_account_url" content="https://gamecentrelive.rogers.com/en/" />

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                if (window.bamNHLHeader !== undefined) {
                    window.bamNHLHeader.init();
                }
            });
        </script>

        <!-- DSS AWS Header/Footer css -->
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/css/header.standalone.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/css/footer.standalone.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://www-league.nhlstatic.com/builds/site-core/a8c9df0f71108c5e4329d67cbdc7d047c9dae323_1495816760/styles/site-desktop.css.gz"/>

        <script type="text/javascript" src="{{assetsBaseUrl}}js/VisitorAPI.bundle.js?rel={{appId}}" charset="utf-8"></script>
        <script type="text/javascript" src="{{assetsBaseUrl}}js/AppMeasurement.bundle.js?rel={{appId}}" charset="utf-8"></script>
        <script>
            function includeHTML() {
                var z, i, elmnt, file, xhttp;
                /* Loop through a collection of all HTML elements: */
                z = document.getElementsByTagName("*");
                for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("include-html");
                if (file) {
                    /* Make an HTTP request using the attribute value as the file name: */
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                        if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                        /* Remove the attribute, and call this function once more: */
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /* Exit the function: */
                    return;
                }
                }
            }
        </script>
        <style>
            *{
            margin:0;
            padding:0;
            }
            html{
            height: 100vh;
            width: 100vw;
            }
            body {
            height: 100vh;
            width: 100vw;
            }

            .container {
            display: grid; 
            grid-template-columns: 1fr; 
            gap: 0rem; 
            grid-auto-rows: minmax(min-content, max-content);
            width: 100vw;
            height: 100vh;
            }
            .header {
                height: 5vh;
                background-color: rgb(0, 0, 0);
            }
            model-viewer {
                width: 100vw; 
                height: 80vh;
                background-color: black;
            }
            .arbtn {
                background-color: white;
                border-radius: 20px;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            .footer {
                height: 15vh;
                background-color: rgb(0, 0, 0);
            }
        </style>
    </head>
    <body>
        <main class="container">
            <div class="header" include-html="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/html/prod/header_en.html"></div>
            <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script> 
            <model-viewer id="WebARContent" src="stanleyCup_testversion01.glb" ios-src="stanleyCup_testversion01.usdz" alt="A 3D model of the Cup" autoplay ar ar-modes="webxr scene-viewer quick-look" camera-controls>
                <button class="arbtn" slot="ar-button"> 
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <rect x="0" y="0" fill="none" width="50" height="50"></rect>
                    <g>
                        <path d="M3,4c0-0.55,0.45-1,1-1h2V1H4C2.35,1,1,2.35,1,4v2h2V4z"></path>
                        <path d="M20,3c0.55,0,1,0.45,1,1v2h2V4c0-1.65-1.35-3-3-3h-2v2H20z"></path>
                        <path d="M4,21c-0.55,0-1-0.45-1-1v-2H1v2c0,1.65,1.35,3,3,3h2v-2H4z"></path>
                        <path d="M20,21c0.55,0,1-0.45,1-1v-2h2v2c0,1.65-1.35,3-3,3h-2v-2H20z"></path>
                        <g>
                            <path d="M18.25,7.6l-5.5-3.18c-0.46-0.27-1.04-0.27-1.5,0L5.75,7.6C5.29,7.87,5,8.36,5,8.9v6.35c0,0.54,0.29,1.03,0.75,1.3
                                l5.5,3.18c0.46,0.27,1.04,0.27,1.5,0l5.5-3.18c0.46-0.27,0.75-0.76,0.75-1.3V8.9C19,8.36,18.71,7.87,18.25,7.6z M7,14.96v-4.62
                                l4,2.32v4.61L7,14.96z M12,10.93L8,8.61l4-2.31l4,2.31L12,10.93z M13,17.27v-4.61l4-2.32v4.62L13,17.27z"></path>
                        </g>
                    </g>
                    </svg>
                </button>
            </model-viewer>
            <div class="footer" include-html="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/html/prod/footer_en.html"></div>
            <script>includeHTML();</script>
            <!-- DSS AWS Header/Footer js -->
            <script src="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/js/header.standalone.js"></script>
            <script src="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/js/footer.standalone.js"></script>
        </main>
    </body>



</html>