<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AR</title>

<!-- NHL HEADER FOOTER LOADING -->
    <!-- DSS header dropins -->
    <meta name="static_url" content="//www-league.nhlstatic.com" />
    <meta name="server_url" content="https://www.nhl.com" />
    <meta name="suggest_url" content="//suggest.svc.nhl.com" />
    <meta name="bamcontent_client_url" content="https://cms.nhl.bamgrid.com" />

    <meta
      id="metaLogin"
      name="login_url"
      content="https://account.nhl.com/ui/?language=en"
    />
    <meta
      id="metaAccount"
      name="account_url"
      content="https://account.nhl.com/ui/?language=en&returnLabel=NHL.com/stats"
    />
    <meta
      name="sign_out_url"
      content="https://account.nhl.com/ui/sign-out?language=en"
    />
    <meta
      name="rogers_login_url"
      content="https://www.nhl.com/en/login/rogers"
    />
    <meta
      name="rogers_account_url"
      content="https://gamecentrelive.rogers.com/en/"
    />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        if (window.bamNHLHeader !== undefined) {
          window.bamNHLHeader.init();
        }
      });
    </script>

    <!-- DSS AWS Header/Footer css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/css/header.standalone.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/css/footer.standalone.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://www-league.nhlstatic.com/builds/site-core/a8c9df0f71108c5e4329d67cbdc7d047c9dae323_1495816760/styles/site-desktop.css.gz"
    />

    <script
      type="text/javascript"
      src="{{assetsBaseUrl}}js/VisitorAPI.bundle.js?rel={{appId}}"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="{{assetsBaseUrl}}js/AppMeasurement.bundle.js?rel={{appId}}"
      charset="utf-8"
    ></script>
<!-- END OF NHL HEADER FOOTER LOADING -->

    <link rel="stylesheet" href="ar.css"> <!-- CSS FOR CONTENT -->
  </head>

  <body>
<!-- NHL HEADER INCLUDE -->
<div
class="header"
include-html="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/html/prod/header_en.html"
></div>
<!-- END OF NHL HEADER INCLUDE -->


<!-- AR CONTENT BEGINS -->
      <section class="ar-section">
        <div class="ar-gestures ar-hide"><img class="ar-gesture-image" src="images/gestures-pan.svg" /></div>
        <nav class="ar-nav">
          <button class="ar-menu ar-hide">
            <div class="team-ar">
              <h2 class="season-ar"></h2>
            <img class="team-logo-ar"
              height="80%"
            /> 
            <h2 class="name-ar"> <span class="name-city-ar"></span><span class="name-team-ar"></span>  </h2>
          </button>
            </div> 
        </nav>
        <script
      type="module"
      src="model-viewer.min.js"
    ></script>
        <model-viewer
          class="ar-model-viewer"
          loading="eager"
          reveal="manual"
          src="cup.glb"
          alt="A 3D model of the Cup"
          ar
          modelCacheSize="0"
          ar-modes="webxr scene-viewer quick-look"
        >
          <span class="arbtn" slot="ar-button"></span>
          <img class="nhl-ar-pointer" src="images/NHL_dark.svg" width="40px" height="40px">
          <div class="ar-loading">
            <div><img src="images/CUP_light.svg" alt=""></div>
            <div class="ar-loading-text"></div>
          </div>
          <!-- <span class="ar-debug"><span class="ar-rot"></span><span class="ar-pan"></span></span> -->
          <button class="start-ar ar-hide">
            <img class="ar-logo" src="images/ar_dark.svg" height="50px" />
          </button>
        </model-viewer>
        <div class="ar-popup">
          <div class="ar-popup-content">
            <button class="ar-popup-hide">X</button>
            <div class="ar-popup-content-records">
              <div class="ar-popup-image"><img src="images/nhlrecords.svg" /></div>
              <button class="records-link">
                Visit the Records Page 
              </button>
            </div>
          </div>
        </div>
        <script type="module" type="text/javascript" src="ar.js" charset="utf-8"></script>
      </section>
<!-- AR CONTENT ENDS -->


<!-- NHL FOOTER INCLUDE -->
<div
class="footer"
include-html="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/html/prod/footer_en.html"
></div>
<!-- END OF NHL FOOTER INCLUDE -->
<!-- NHL HEADER FOOTER INITIALIZE -->
<script type="module">
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            elmnt.innerHTML = this.responseText;
          }
          if (this.status == 404) {
            elmnt.innerHTML = "Page not found.";
          }
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("include-html");
          includeHTML();
        }
      };
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
includeHTML();
</script>
<!-- END NHL HEADER FOOTER INITIALIZE -->
<!-- NHL HEADER FOOTER JS -->
<!-- DSS AWS Header/Footer js -->
<script src="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/js/header.standalone.js"></script>
<script src="https://s3.amazonaws.com/fed-nhl-lambda-output/builds/js/footer.standalone.js"></script>
<!-- END OF NHL HEADER FOOTER JS -->
  </body>
</html>
